<form action="/signin" method="post">
    <label for="email">Email</label>
    <input type="text" name="email">
    <label for="password">password</label>
    <input type="text" name="password">
    <button type="submit">Signin</button>
</form>